<link rel="stylesheet" type="text/css" href="css/header.css">

<nav class= "navbar" >
    <div class = "container" >
        <div class = "navbar-header" >
            <button class = "navbar-toggler" data-toggle="open-navbar1" >
            <span > </span> <span> </span> <span > </span>
            </button>
            <a href = "/" >
                <h4 > Trend <span> N </span></h4>
            </a>
        </div>
        <div class="navbar-menu" id="open-navbar1" >
            <ul class="navbar-nav" >
                <li> <a href = "/home" > Products </a></li >
                <li > <a href = "/sign-in" > <u> Sign In Or Sign Up </u></a > </li>
                <li > <a href = "/upload" > Upload A Fashion Post </a></li >
            </ul>
        </div>
    </div>
</nav>
